Options -Indexes
RewriteEngine On

<IfModule mod_headers.c>
  <FilesMatch "\.(html|js|css)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "0"
  </FilesMatch>
</IfModule>

RewriteRule ^\.ekurs-cp-sync/ - [F,L]

RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} ^www\.e-kurs\.com$ [NC]
RewriteRule ^ https://e-kurs.com%{REQUEST_URI} [L,R=301]

RewriteCond %{THE_REQUEST} \s/+(.*/)?index\.html[\s?] [NC]
RewriteRule ^(.*/)?index\.html$ /$1 [R=301,L]

RewriteCond %{THE_REQUEST} \s/+(.+)\.html[\s?] [NC]
RewriteRule ^(.+)\.html$ /$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+?)/?$ $1.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^siniflar/1-sinif/([^/]+)/([^/]+)-test/?$ /siniflar/1-sinif/test-sablon.html?ders=$1&konu=$2 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^siniflar/1-sinif/([^/]+)/([^/]+)/?$ /siniflar/1-sinif/konu-sablon.html?ders=$1&konu=$2 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^siniflar/2-sinif/([^/]+)/([^/]+)-test/?$ /siniflar/2-sinif/test-sablon.html?ders=$1&konu=$2 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^siniflar/2-sinif/([^/]+)/([^/]+)/?$ /siniflar/2-sinif/konu-sablon.html?ders=$1&konu=$2 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^siniflar/([0-9]+)-sinif/([^/]+)/([^/]+)/?$ /siniflar/konu.html?grade=$1&subject=$2&topic=$3 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^siniflar/([0-9]+)-sinif/([^/]+)/?$ /siniflar/ders.html?grade=$1&subject=$2 [L,QSA]
